# .NET
bin/
obj/
.vs/
*.user
*.suo
*.rsuser

# JetBrains
.idea/
*.sln.iml

# Node 
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store

# Logs
*.log